<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${cv}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Ghinaa Soraya Andria</h1>
    <p>Jakarta, July 8, 1997</p>
    <p>Jl. Matraman Dalam II No. 10 RT 08 RW 008 Pegangsaan Jakarta Pusat 10320</p>
    <p>A Computer Science senior with a passion and experience in design and development. A hard-worker and eager learner. Driven to create to make impact in people's lives. Also interested with woman empowerment, social justice and art.</p>
</body>
</html>
